// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  max-height: 100%;
  max-width: 100%;
  font-size: 62.5%;
  line-height: 1.2;
}

// Variables

@headerColor: #f6f6f6;
@leftColor: #5c1010;
@rightColor: rgb(231, 231, 231);

// Mixins

.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// LESS

.container {
  * {
    width: 100%;
    // border: 1px solid black;
  }
  // Global font-size

  font-size: 1.6rem;

  .topArtContainer {
    .flex();
    height: 8vh;
    justify-content: space-evenly;

    .topleft {
      .flex();
      width: 30%;
      height: 100%;
      background-color: @leftColor;
    }
    .topright {
      width: 70%;
      height: 100%;
      background-color: @rightColor;
    }
  }

  header {
    .flex();
    width: 100%;
    height: 35vh;
    background-color: @headerColor;
    box-shadow: 10px 10px 4px 5px rgba(0, 0, 0, 0.19);

    .leftHeader {
      .center();
      width: 30%;

      img {
        width: 75%;
        height: 75%;
      }
    }
    .rightHeader {
      width: 70%;

      .nameContainer {
        width: 100%;
        height: 80%;
      }

      h1 {
        text-align: center;
        font-size: 6rem;
        letter-spacing: 1rem;
        text-decoration: underline;
      }

      h2 {
        text-align: center;
        font-size: 3rem;
      }

      .social {
        .center();
        width: 100%;
        padding-top: 3%;

        i {
          .center();
          width: 5rem;
          height: 20%;
          font-size: 3.5rem;
        }
      }

      nav {
        .flex();
        width: 100%;
        height: 20%;

        a {
          .center();
          text-decoration: none;
          font-size: 2rem;
          color: black;
        }

        a:hover {
          color: white;
          transition: 1s;
          background-color: @leftColor;
        }
      }
    }
  }

  .midArtContainer {
    .flex();
    justify-content: space-evenly;

    .bottomLeft {
      background-color: @leftColor;
      color: white;
      width: 30%;
      height: 100vh;

      h2 {
        font-size: 2rem;
      }
    }

    .bottomRight {
      background-color: @rightColor;
      color: black;
      width: 70%;
    }
  }
}
